name: Build and Push Docker Image

on:
  push:
    tags:
      - "*.*.*"

env:
  REGISTRY: registry.datalab.tuwien.ac.at
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{raw}}
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: tuwel

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to dataLAB
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DL_NAME }}
          password: ${{ secrets.DL_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
